<!DOCTYPE html>
<html>
    <head>
        <title>Little Lemon</title>
        <link rel="stylesheet" href="style.css"
        </head>
    <body>
            <header>

            </header>
            <nav>

            </nav>
            <main>
                <h1>Little Lemon Food Blog </h1>
                <article> <h2> 20% Off This Weekend</h2>
                <p> the blog post content</p></article>
                <article> <h2>Our New Menu</h2>
                <p> the blog post content</p></article>


            </main>
            <footer>
            <p> copyright  Litlle Lemon</p>
            </footer>
    </body>
</html>