{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>User Registration</h1>
    {% if message %}
        <p {% if status_code == 201 %}style=color: green; {% else %} red;{% endif %};>{{ message }}</p>
    {% endif %}
    <form id="registrationForm" method="post" action="{% url 'restaurant:registration' %}">
        {% csrf_token %}
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" autocomplete="email" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autocomplete="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="new-password" required>

        <button type="submit">Register</button>
    </form>
{% endblock %}
